.btn {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-family: serif;
}

.card {
    margin: 1rem;
}

.card-header {
    padding: 1rem;
    font-family: serif;
    font-size: 1.4rem;
}

.card-text {
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: serif;
    font-size: 1.2rem;
}